port: 8080

secret_key: go-zoox

frontend:
  host: 127.0.0.1
  port: 8000

backend:
  host: 127.0.0.1
  port: 8001

password:
  mode: local # service | local, default: local
  local:
    - username: admin
      password: admin

auth:
  mode: password

services:
  app:
    mode: local
    local:
      name: Lighthouse DNS
      logo: https://avatars.githubusercontent.com/u/7463687?v=4
      description: 轻量级 DNS 服务

  user:
    mode: local
    local:
      id: '0x01'
      username: admin
      nickname: 管理员
      avatar: https://avatars.githubusercontent.com/u/7463687?v=4
      permissions:
        - /s/dns
        - /s/docker

  menus:
    mode: local
    local:
      - name: Home
        path: /i
        icon: appstore
      - name: DNS 管理
        path: /i/dns
        icon: appstore
        layout: header
